/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #222222;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@media (max-width: 1599px) {
  .container {
    width: 96%;
  }
}

@media (max-width: 767px) {
  .container {
    width: 92%;
  }
}

@media (max-width: 374px) {
  .container {
    min-width: 360px;
  }
}

.header {
  background-color: #222222;
}

.header__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
  position: relative;
}

.header__mainpage {
  width: 44px;
  height: 44px;
  margin: 0 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__loup-btn {
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-style: none;
}

.header_search-inp {
  height: 41px;
  background: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: white;
  font-style: normal;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: none;
  outline: none;
}

.header__searchbar:hover .header_search-inp {
  display: block;
  -webkit-box-shadow: 0 0 5px 2px #4F4745;
          box-shadow: 0 0 5px 2px #4F4745;
}

.header_search-inp:focus {
  -webkit-box-shadow: 0 0 5px 2px #4F4745;
          box-shadow: 0 0 5px 2px #4F4745;
  display: block;
}

.header__menu-button {
  border: none;
  width: 44px;
  height: 44px;
  background-color: transparent;
  background-image: url(../img/icon/nav-burger-ico.png);
  background-repeat: no-repeat;
  background-position: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  margin: 0 0 0 34px;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__profile {
  color: white;
  width: 44px;
  height: 44px;
  background-image: url(../img/icon/hdr-profile-ico.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header__cart {
  color: white;
  width: 44px;
  height: 44px;
  background-image: url(../img/icon/hdr-basket-ico.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header__mainpage:hover,
.header__loup-btn:hover,
.header__item:hover {
  background-color: #4F4745;
  -webkit-box-shadow: 0 0 5px 2px #4F4745;
          box-shadow: 0 0 5px 2px #4F4745;
}

.header__mainpage:active,
.header__loup-btn:active,
.header__item:active {
  -webkit-box-shadow: 0 0 5px 2px #F16D7F;
          box-shadow: 0 0 5px 2px #F16D7F;
}

.header__mainpage:focus,
.header__loup-btn:focus,
.header__item:focus {
  background-color: #4F4745;
  -webkit-box-shadow: 0 0 5px 2px #F16D7F;
          box-shadow: 0 0 5px 2px #F16D7F;
  outline: none;
}

.header__nav {
  display: none;
  position: absolute;
  top: 75px;
  right: 0px;
  width: 200px;
  background-color: white;
  color: #000000;
  padding-left: 20px;
}

.header__nav-list {
  margin-bottom: 30px;
}

.header__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin: 37px 0 0 0;
}

.header__nav-item {
  margin: 24px 0 0 0;
}

@media (max-width: 767px) {
  .header__searchbar:hover .header__list {
    display: none;
  }
  .header_search-inp:focus .header__list {
    display: none;
  }
}

@media (max-width: 374px) {
  .header {
    min-width: 360px;
  }
  .header__nav {
    width: 100%;
    min-width: 360px;
    top: 75px;
    right: auto;
    left: 0px;
  }
}

.nav-sub__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-sub__item {
  margin: 10px 0 0 10px;
}

.nav-sub__item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
  text-transform: capitalize;
}

.nav-sub__link:hover,
.nav-sub__link:focus,
.nav-sub__item-link:hover,
.nav-sub__item-link:focus {
  text-decoration: underline;
  outline: none;
}

.nav-sub__link:active,
.nav-sub__item-link:active {
  text-decoration: underline;
  text-shadow: 0 0 1em #F16D7F;
}

.main {
  min-width: 375px;
}

.signboard {
  background-color: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signboard_photo {
  display: block;
  width: 50%;
  max-width: 800px;
  height: auto;
  max-height: 800px;
}

.signboard__title-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 0 0 64px;
}

.signboard__rectangle {
  width: 12px;
  height: 92px;
  background: #F16D7F;
  margin: 0 28px 0 0;
}

.signboard__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
}

.signboard__subtitle {
  display: block;
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
}

.signboard__subtitle-pink {
  color: #F16D7F;
  font-style: italic;
}

@media (max-width: 767px) {
  .signboard__title-wrp {
    padding: 0;
  }
  .signboard_photo {
    width: 40%;
  }
}

@media (max-width: 374px) {
  .signboard_photo {
    display: none;
  }
}

.categories__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 65px 0 0 0;
}

.categories__item {
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 260px;
  background-color: #4F4745;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.categories__item:nth-of-type(4) {
  grid-column: span 3;
}

.categories__item:hover .categories__title,
.categories__item:focus .categories__title {
  text-decoration: underline;
}

.categories__item--women {
  background-image: url(../img/category-women.jpg);
  background-position: center;
  background-size: cover;
}

.categories__item--men {
  background-image: url(../img/category-men.jpg);
  background-position: center;
  background-size: cover;
}

.categories__item--kids {
  background-image: url(../img/category-kids.jpg);
  background-position: center;
  background-size: cover;
}

.categories__item--accesories {
  background-image: url(../img/category-accesories.jpg);
  background-position: center;
  background-size: cover;
}

.categories__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
}

.categories__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #F16D7F;
}

@media (max-width: 767px) {
  .categories__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .categories__item:nth-of-type(4) {
    grid-column: span 1;
  }
}

@media (max-width: 374px) {
  .categories__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 65px 0 0 0;
}

.featured__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  color: #9F9F9F;
}

.featured__list {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 48px 0;
}

.featured__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-wrapper {
  position: relative;
  min-height: 260px;
}

.overlay {
  width: 100%;
  height: 100%;
  min-height: 260px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  display: none;
}

.featured__cart-btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
  border: 1px solid white;
  display: none;
}

.featured__cart-btn:hover, .featured__cart-btn:focus {
  background-color: #F16D7F;
  border-color: #F16D7F;
}

.featured__img {
  display: block;
  width: 100%;
}

.btn-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured__cart-btn-img {
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.featured__cart-btn-text {
  margin-left: 10px;
}

.featured__item:hover .featured__cart-btn,
.featured__item:hover .overlay {
  display: block;
}

.featured__item-name {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: #000;
  margin: 25px 0 12px 16px;
}

.featured__item-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5D5D5D;
  margin: 0 0 0 16px;
}

.featured__price {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #F16D7F;
  margin: 18px 0 20px 16px;
}

.featured__button {
  width: 211px;
  height: 47px;
  border: 1px solid #F16D7F;
  background-color: transparent;
  text-transform: capitalize;
  color: #F16D7F;
  text-align: center;
  margin: 0 0 95px 0;
}

.featured__button:hover, .featured__button:focus {
  background-color: #F16D7F;
  color: white;
}

@media (max-width: 767px) {
  .featured__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 374px) {
  .featured__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.advantages {
  background: #222224;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #FBFBFB;
}

.advantages__item {
  margin: 100px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
}

.advantages__item:hover .advantages__img,
.advantages__item:focus .advantages__img {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.advantages__item:hover .advantages__title,
.advantages__item:focus .advantages__title {
  font-weight: bold;
  text-shadow: 0px 1px 5px #F16D7F;
}

.advantages__img {
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.advantages__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin: 28px 0 16px 0;
  text-align: center;
}

.advantages__text {
  max-width: 400px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

@media (max-width: 600px) {
  .advantages__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages__item {
    margin: 20px auto;
  }
}

.footer {
  min-width: 360px;
}

.footer__feedback {
  background: #F4F4F4B2 70%;
  background-image: url(../img/footer-bcg.jpg);
  background-size: cover;
  background-position: left;
}

.footer__feedback-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 55px 0;
}

.footer__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
  text-align: center;
  width: 360px;
  margin: 32px 0 0 0;
}

.footer__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 32px 0;
}

.footer__subtitle {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 49px;
  width: 360px;
  border-radius: 24px;
  border: transparent;
  margin-bottom: 55px;
}

.footer__form:hover, .footer__form:focus {
  -webkit-box-shadow: 0 0 5px 2px #4F4745;
          box-shadow: 0 0 5px 2px #4F4745;
}

.footer__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  background: #E1E1E1;
  border-radius: 24px 0 0 24px;
  border: transparent;
  text-indent: 22px;
}

.footer__input:hover, .footer__input:focus, .footer__input:active {
  border: 1px solid #222222;
  outline: none;
}

.footer__button {
  width: 100px;
  text-transform: capitalize;
  border-radius: 0 24px 24px 0;
  color: white;
  background: #F16D7F;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: transparent;
}

.footer__button:hover, .footer__button:focus {
  border: 1px solid #222222;
}

.footer__button:active {
  -webkit-box-shadow: 0 0 5px 2px #F16D7F;
          box-shadow: 0 0 5px 2px #F16D7F;
}

.footer__social {
  background: #222222;
  color: white;
}

.footer__social-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 24px 0 24px 0;
  width: 150px;
}

.footer__social-item {
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-item:hover, .footer__social-item:focus {
  background-color: #F16D7F;
}

@media (max-width: 767px) {
  .footer__feedback-wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 374px) {
  .footer__form {
    width: 95%;
  }
}
/*# sourceMappingURL=style.css.map */